* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.page-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-headline {
  color: cornflowerblue;
}
